extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}
    div
     a(href='/guest-book-socket') guest-book-socket
    div
      a(href='/guest-book-ajax') guest-book-ajax